/** Style File **/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@900&family=Mulish:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fullwidth {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.hidden {
    display: none;
}

/* Header Section */
.header-row {
    justify-content: space-between;
    align-items: center;
}

header .navigation-col {
    display: flex;
    flex-wrap: wrap;
}

.menus-items ul {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    gap: 15px;
}

header {
    padding: 20px 0;
}

.menus-item a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #676A6C;
    text-decoration: none;
}

header .navigation .menus-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
}

header .navigation .menus-item.active {
    background: rgba(252, 87, 16, 0.1);
    border-radius: 10px;
}

header .navigation .menus-item.active a {
    color: #FC5710;
}

header .navigation .cart-menus {
    width: 40px;
    height: 40px;
    background: #D8E9E8;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navigation .quick-menus a span {
    color: #E11D70;
    margin-left: 10px;
}

header .navigation .quick-menus {
    border: 1.4px solid #E11D70;
    border-radius: 27px;
    padding: 10px 20px;
}

header .navigation .quick-menus a,
header .navigation .request-menus a {
    display: flex;
    align-items: center;
}

header .navigation .request-menus {
    border: 1.4px solid #1C3781;
    border-radius: 27px;
}

header .navigation .request-menus a span {
    color: #1C3781;
    margin-left: 10px;
}

/* Header Section End */

/* Section One */
.top-selling-section,
.selling-feature-section,
.destination-section,
.esim-section {
    padding: 80px 0;
}

.section-one {
    /* background: rgb(225, 29, 112); */
    background: linear-gradient(90deg, rgba(225, 29, 112, 1) 0%, rgba(248, 128, 18, 1) 100%);
}

.cards-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.main-heading {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.sim-cards-col {
    text-align: center;
    width: 100%;
    z-index: 2;
}

.section-one {
    position: relative;
}

.section-one:before {
    content: '';
    position: absolute;
    top: 65px;
    right: 0;
    width: 100px;
    height: 100%;
    background-image: url(file:///var/www/html/roam/images/air-icon2.png);
    background-repeat: no-repeat;
    z-index: 1;
}

.section-one:after {
    content: '';
    position: absolute;
    bottom: -295px;
    left: -55px;
    width: 100%;
    height: 100%;
    background-image: url(file:///var/www/html/roam/images/air-icon.png);
    background-repeat: no-repeat;
    z-index: 1;
}

.sim-cards-col .cards-heading-box {
    margin-bottom: 50px;
}

.sim-cards-col .sim-cards-search {
    margin: 80px 0 20px 0;
}

.sim-cards-col .card-title {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 34px;
    color: #5B5F62;
    margin-bottom: 0;
}

.sim-cards-col .cards-item {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sim-cards-col .card-search-input {
    padding: 18px 20px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    border: none;
}

.sim-cards-col .card-search-input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #455A64;
}

.sim-cards-col .search-button {
    background: #7519A3;
    box-shadow: 0px 5px 14px rgba(247, 103, 67, 0.25);
    border-radius: 10px;
    border: none;
    padding: 10px 14px;
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.sim-cards-col .search-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 45%;
    margin: 0 auto;
}

.sim-cards-col .visiter-count {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

/** Selling Feature Section **/
.selling-feature-section .featues-items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.selling-feature-section .feature-item {
    width: 23%;
}

.selling-feature-section .feature-inner {
    display: flex;
    gap: 10px;
}

/** Selling Feature Section End **/

/** Destination Section **/
.destination-section .dest-heading,
.esim-heading {
    font-size: 40px;
    line-height: 56px;
    text-transform: capitalize;
    color: #2D3134;
}

.heading-pink {
    color: #E11D70;
}

.destination-section .dest-desc {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #5B5F62;
    margin-bottom: 0;
}

.destination-section .destination-more {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #5B5F62;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    text-decoration: none;
    padding: 20px 22px;
}

.destination-section .destination-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.destination-section .destination-location {
    width: 100%;
}

.destination-section .destination-heading {
    width: 50%;
}

.destination-section .destination-button {
    width: 50%;
    text-align: right;
}

.destination-section .location-item {
    width: 24%;
    background: linear-gradient(180deg, rgba(249, 138, 37, 0.79) 0%, #F98A25 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
}

.destination-section .location-items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.destination-section .location-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 20px 0 20px;
}

.location-item {
    position: relative;
}

.location-item:nth-child(1):before {
    background-image: url(file:///var/www/html/roam/images/air-dest-bg.png);
}

.location-item:nth-child(2):before {
    background-image: url(file:///var/www/html/roam/images/air-dest-bg.png);
}

.location-item:nth-child(3):before {
    background-image: url(file:///var/www/html/roam/images/air-dest-bg.png);
}

.location-item:nth-child(4):before {
    background-image: url(file:///var/www/html/roam/images/canda-air-icon.png);
}

.location-item:before {
    content: '';
    position: absolute;
    top: 90px;
    right: -45px;
    width: 200px;
    height: 200px;
    background-image: url(file:///var/www/html/roam/images/air-dest-bg.png);
    background-repeat: no-repeat;
    z-index: 1;
}

/** Destination Section End **/
/** Background Destination Vector **/
.bg-destination-vector {
    position: relative;
}

.bg-destination-vector:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 788px;
    background-image: url(file:///var/www/html/roam/images/Vector.png);
    background-repeat: no-repeat;
    z-index: -1;
}

/** Background Destination Vector End **/

/** eSim Section **/
.esim-section .feature-items {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
}

.esim-section .feature-item {
    width: 32%;
}

.esim-section .esim-top {
    margin-bottom: 40px;
}

/** eSim Section End **/